.Order{
    display: flex;
    flex-flow: row;
    width: 40vw;
    margin: 20px 0;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    border-radius: 25px;
    height: 80px;
}
.Order span{
    height: 100%;
    padding: 2vh 0;
    width: 25%;
    font-size: 1.2em;
}
.Order button{
    margin: 1.8vh 0;
    height: 50%;
}