.ComentsBlock{
    width: 80%;
    margin: 0;
    padding: 10px 0 5px 10px;
    left: 0;
    /* border: 1px solid grey; */
    text-align: left;
}
.ComentsBlockWraper{
    margin:40px 0 0 40px;
    width: 100%;
}
.ComentsBlock img{
left: 0;
padding-bottom: 5px;
width:100px;
height: 100px;
border-radius: 5px;
}
.ComentsBlock ::content{
    position: relative;
    float: left;
    text-align: left;
}
.ComentsBlockBtnSwipe {
    margin-top:-100px;
    opacity: 0;
    width: 100%;
        transition:  margin 0.5s,opacity 0.2s;

    transition-timing-function: liner;
    }
.ComentsBlockWraper:hover .ComentsBlockBtnSwipe{
    opacity: 1;
    margin-top:0;
}