.Przepisy{
    display: flex;
    flex-flow: row;
    align-items: stretch;
    margin: auto;
    /* padding-top: 5em; */
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    /* background: lightblue url("../../assets//images///elephant-monochrome-black-background-closeup-3504x2336-2957.jpg") no-repeat fixed center; */
    background-size: 100% 100%;
    background-color: #F2F3F5;
}
.Logo{
    width: 300px;
    height: 200px;
    position: absolute;
    left: 5%;
    top:5%;
    background:  url("../../assets//images/logo.png")no-repeat  center;
    background-size: 100% ;
}

.ImgOrderBlock{
    display: flex;
    flex-flow: column;
    width: 50vw;
    height: 100vh;
    text-align: center;
    align-content: center;
    justify-content: space-between;

    /* border:1px solid black; */
    /* transform: translateX(-6%) skewX(-175deg); */
    /* clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%); */
/* background: lightblue url("../../assets//images/pastrami1.jpg") no-repeat center; */
/* background: #F2F3F5 url("../../assets//images/steamCook.png") no-repeat center; */
background-size: auto 60%;
}
.ImgOrderBlock img{
    /* opacity: 0.6; */
    /* display: block;
     margin-left: auto;
    margin-right: auto;
    width: 91%;
    height: 60%; */
}

.Scene {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  height: 400px;
  /* border: 1px solid #CCC; */
  /* margin: 80px; */
  perspective: 800px;
  }
  
  .Cube {
    width: 400px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s; 
  }
  
  .Cube__face {
    position: absolute;
  width: 400px;
  height: 400px;
  /* border: 2px solid black; */
  line-height: 400px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  }
  .Cube__face img{
      width: 100%;
      height: 100%;
  }
  /* .Cube .Show_front  { transform: translateZ(-100px) rotateY(0deg); } */
.Show_right  { transform: translateZ(-100px) rotateY(-20deg); }
  /* .Cube .Show_back   { transform: translateZ(-100px) rotateY(-180deg); }
  .Cube .Show_left   { transform: translateZ(-100px) rotateY(90deg); }
  .Cube .Show_top    { transform: translateZ(-100px) rotateX(-90deg); }
  .Cube .Show_bottom { transform: translateZ(-100px) rotateX(90deg); } */

.Cube__face--front  { transform: rotateY(0deg) translateZ(200px); 
    background: rgb(46, 47, 48) url("../../assets//images/steamCookEmptyWrapper.png") no-repeat center; 
    background-size: auto 100%;
    border-radius: 5px;
}
.Cube__face--right  { transform: rotateY(90deg) translateZ(200px) translateY(-5px);}
.Cube__face--back   { transform: rotateY(180deg) translateZ(200px);background-color: black;}
.Cube__face--left   { transform: rotateY(-90deg) translateZ(195px);background-color: black;border-radius: 20px;}
.Cube__face--top    { transform: rotateX(90deg) translateZ(195px);background-color: black;border-radius: 15px;}
.Cube__face--bottom { transform: rotateX(-90deg) translateZ(200px);background-color: grey;border-radius: 15px;}

.Cube__face--front img{opacity: 0.1;}
.Show_right .Cube__face--front img{opacity: 1;}
/* .Show_right .Cube__face--front {background: rgb(207, 208, 209) url("../../assets//images/steamCookEmptyWrapper.png") no-repeat center; } */
.Show_right .Cube__face--left
{background-color: white;transition: 2s;}

.SteamOn{    
opacity: 1;
transition: 1s;
}
.SteamOff{    
opacity: 0;
transition: 1s;
}
/* .SteamOn{
    background: #F2F3F5 url("../../assets//images/steamCookOf.png") no-repeat center;
background-size: auto 80%;
} */
   
.OrderBlock{
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    /* transform: translateX(2%) skewX(-175deg); */
    transform-origin: bottom;  
    margin: 0;
}
/* .OrderBlock button{transform: skewX(175deg); } */

.SumBlockWraper{
    height:20vh;
    width: 100%;
    /* border: 4px solid  rgb(52, 52, 73); */
    /* border: 2px solid black; */
    transform: translateX(0) translateY(5px); 
    position: relative;
    /* background-color: rgb(52, 52, 73); */
    /* transform: rotate(5deg); */
    transition: .3s;
    animation-timing-function:ease-out;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px; */
    /* box-shadow: rgba(218, 47, 47, 0.9) 0px 2px 2px 5px; */  
}
.SumBlockWraper:hover{
    height:20vh;
    width: 100%;
    /* animation-iteration-count: 1; */
    /* transform: translateX(0) translateY(0%); */
    border-radius: 80px 0 0 0;

    /* box-shadow: rgba(218, 47, 47, 0.9) 0px 2px 2px 5px; */
}
.Right{
    display: flex;
    flex-flow: column;
    padding: 0 70% 0 0;
    transition:1s;
    transition-timing-function: ease-in;
    /* justify-content: flex-start; */
     /* border: 2px solid grey; */
}
.Left{
    display: flex;
    flex-flow: column;
    padding: 0 0 0 70%;
    transition:1s;
    transition-timing-function: ease-in;
    /* justify-content: stretch; */
     /* border: 2px solid grey; */
     }
     .SumBlockLineRight{
        width: 100%;
        height: 50%;
        border-top: 2px solid black;
        border-left: 1px solid black;
     }
     .SumBlockLineLeft{
         width: 100%;
         height: 50%;
        border-top: 2px solid black;
        border-right: 2px solid black;
    }
    .SumBlockLineTopLeft{
        width: 100%;
        height: 0px;
        margin: 70px 0 0 0;
        border-left: 2px solid black;
        transition:1s;
        transition-timing-function: ease-out;
        transition-delay: 1s;
    }
    .SumBlockLineTopRight{
        width: 100%;
        height: 0px;
        margin: 70px 0 0 0;
        border-right: 2px solid black;
        transition:1s;
        transition-timing-function: ease-out;

        transition-delay: 1s;

    }
    .GrowTopRight{
        height: 50px;
        margin: 20px 0 0 0;
    }
    
    .GrowTopLeft{
        height: 50px;
        margin: 20px 0 0 0;

    }
    .GrowRight{
        padding: 0 20% 0 0;
    }
    .GrowLeft{
        padding: 0 0 0 20%;
    }
.Przepisy p{
    margin: auto;
}
.ContentDiv{
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    background-color: #F2F3F5;
   width: 100%;
   height: 70vh;
   /* border: 1px solid black; */
   overflow: scroll;
   overflow-y:hidden;
   overflow-x: hidden; 
   float: left;
    /* transform: skewX(175deg); */
}
.ContentDiv>div{
    display: flex!important;
    flex-direction: row!important;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.BlockPriceTest{
    transform:rotate(90deg) translateX(-250px) translateY(-200px)!important;
        font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900!important;
    opacity: 0.5;
}
.BlockPriceTest{
    /* height: 30px; */
    font-size: 1000%;
    transform: rotate(90deg);
}
.ContentDivLink{
    position: absolute;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top:10%;
    left:48.5%;


}

.ContentDivLink a{
    width: 40px;
    height: 40px;
    background-color: black;
    cursor: pointer;
    clip-path: polygon(0% 99%, 0% 0%, 100% 0, 100% 100%, 95% 100%, 95% 5%, 48% 5%, 5% 5%, 5% 100%);
    transition:.3s;
}

.OrderListwraper{
    position: absolute;
    left:48%;
    transition:3s;
}
.OrderListwraper a{
    width: 40px;
    height: 40px;
    background-color: black;
    cursor: pointer;
    clip-path: polygon(100% 5%, 5% 5%, 5% 30%, 0 30%, 0 0, 100% 0, 100% 3%, 100% 27%, 95% 27%, 95% 47%, 15% 47%, 0 47%, 0 72%, 5% 72%, 5% 52%, 100% 52%, 100% 70%, 95% 70%, 95% 95%, 44% 95%, 0 95%, 0 100%, 82% 100%, 100% 100%, 100% 65%);    transition:.3s;
}
.OrderListwraper .LinkWraper:hover a{
    clip-path: polygon(100% 26%, 5% 27%, 5% 47%, 0 47%, 0 22%, 100% 21%, 100% 35%, 100% 27%, 95% 27%, 95% 47%, 15% 47%, 0 47%, 0 72%, 5% 72%, 5% 52%, 100% 52%, 100% 52%, 95% 51%, 95% 70%, 44% 70%, 0 70%, 0 75%, 82% 75%, 100% 75%, 100% 41%);
}
.OrderListwraper .ClickLinkWraper:hover a,
.ClickLinkWraper a
{
    clip-path: polygon(31% 100%, 0 100%, 0 80%, 0 72%, 0 63%, 0 50%, 0 43%, 0 27%, 0 12%, 0 0, 26% 0, 30% 0, 71% 100%, 70% 0, 85% 0, 100% 0, 100% 19%, 100% 49%, 100% 68%, 100% 87%, 100% 100%, 95% 100%, 86% 100%, 71% 100%, 30% 0);

}
.CheckBasket a{
    animation: wave 3s infinite;  
    }

.ContentDivLink .LinkWraper:hover a{
    clip-path: polygon(50% 100%, 0% 0%, 100% 0, 50% 100%, 50% 100%, 95% 5%, 50% 100%, 5% 5%, 50% 100%);
    transition:.3s;
} 

.ContentDivLink .LinkWraper:focus a{

    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    transition:.3s;
} 

.OrderBlockBackButtom{
    position: absolute;

    top:0;
}
.BlockCell{
height: 400px;
}
.ContentDiv div{ display:block;width: 100%;}
.SumBlock{
    position: absolute!important;
    top: 10%!important;
    left:35%;
    display: flex;
    flex-flow: row;
    justify-content:space-between;
    align-items: stretch;
    height: 500px;
    width:  500px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    border-radius: 25px; */
    color: rgb(20, 20, 20);
    /* transform: rotate(-5deg); */
        /* transform: skewX(170deg); */
}
.Pulse {
    /* animation: pulse 2s infinite; */
}
.SumBlockContentWrasper{
    overflow: scroll;
    display: flex;
    flex-flow: column;
    justify-content:center;
    height: 100%;
    width: 100%;

}
.SumBlockContentWrasper::-webkit-scrollbar {
    display: none;
  }
.SumBlockCellPay{
/* background-color: blanchedalmond; */
}
.SumBlockCellHolder{
    margin: 20px 0;
}
.SumBlockCellName{
    width: 200px;
}
.SumBlockButton {
    /* position: absolute;
    bottom: 0;
    right: 0;
    height: 20vh; */
    display: flex;
    /* margin: 40px 0 0 0; */
    /* width: 20%; */
    /* border-radius:0 0 25px 25px; */
    text-align: center;
    justify-content: center;
}
.SumBlockContentWrasper>div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 15px;
}
.SumBlockContentWrasper div p{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.SumBlockContentWrasper span:last-child{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 40%;
}
.UnderlineStyle{
    text-transform: uppercase;
    font-style: italic;
}

@media(max-width:850px){
    .SumBlock{
        width: 100vw;
        margin: 0 0 40px 0;
        display: flex;
       
    }
    .SumBlock button{
        display: flex;
        margin: 40px 0 0 0;
        width: 100vw;
        border-radius:0 0 25px 25px;
        text-align: center;
        justify-content: center;
    }
    .SumBlock div{
        flex-flow: column;
        justify-content: center;
        text-align: center;
    }
    .SumBlockCell{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
        border-radius: 25px;
        width: auto;

    }
    .SumBlock div p{
        display: flex;
        font-size: 1.2em;
        width: auto;
        justify-content: center; 
    }
}
@keyframes imgEfects{
    0%{opacity: 0;};
    100%{opacity: 1;}
}
@keyframes pulse{
    0%{
        /* transform: scale(0.9); */
        box-shadow: rgba(218, 47, 47, 0.9) 0px 2px 2px 5px;
}
    70%{
        transform: translateX(26vw) translateY(6vh);
        box-shadow: rgba(218, 47, 47, 0) 0px 2px 2px 25px;
}
    100%{
        /* transform: scale(0.8); */
        box-shadow: rgba(218, 47, 47, 0) 0px 2px 2px 5px;
}
}

@keyframes growTopRight{
    to {
        height:50px;
    }
}
@keyframes fallTopRight{
    to {
        height:0px;
    }
}

@keyframes wave{
    0% {
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%, 95% 100%, 95% 5%, 94% 5%, 5% 50%, 5% 100%);    }
    50%{
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%, 95% 100%, 95% 5%, 95% 50%, 5% 5%, 5% 100%);
    }
    100% {
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%, 95% 100%, 95% 5%, 94% 5%, 5% 50%, 5% 100%);    }
}