.Przepisy{
    display: flex;
    flex-flow: row;
    align-items: stretch;
    margin: auto;
    /* padding-top: 5em; */
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    /* background: lightblue url("../../assets//images///elephant-monochrome-black-background-closeup-3504x2336-2957.jpg") no-repeat fixed center; */
    background-size: 100% 100%;
    background-color: #F2F3F5;
}
.Logo{
    width: 300px;
    height: 200px;
    position: absolute;
    left: 5%;
    top:5%;
    background:  url("../../assets//images/logo.png")no-repeat  center;
    background-size: 100% ;
}

.ImgOrderBlock{
    display: flex;
    flex-flow: column;
    width: 50vw;
    height: 100vh;
    text-align: center;
    align-content: center;
    justify-content: space-between;

    /* border:1px solid black; */
    /* transform: translateX(-6%) skewX(-175deg); */
    /* clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%); */
/* background: lightblue url("../../assets//images/pastrami1.jpg") no-repeat center; */
/* background: #F2F3F5 url("../../assets//images/steamCook.png") no-repeat center; */
background-size: auto 60%;
}
.ImgOrderBlock img{
    /* opacity: 0.6; */
    /* display: block;
     margin-left: auto;
    margin-right: auto;
    width: 91%;
    height: 60%; */
}

.Scene {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  height: 400px;
  perspective: 800px;
  transition:1s;
  }
  
  .Cube {
    width: 400px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s; 
  }
  
  .Cube__face {
    position: absolute;
  width: 400px;
  height: 400px;
  /* border: 2px solid black; */
  line-height: 400px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  transition:1s;
  }
  .Cube__face img{
      width: 100%;
      height: 100%;
  }
.Show_right  { transform: translateZ(-100px) rotateY(-20deg); }
  /* .Cube .Show_back   { transform: translateZ(-100px) rotateY(-180deg); }
  .Cube .Show_left   { transform: translateZ(-100px) rotateY(90deg); }
  .Cube .Show_top    { transform: translateZ(-100px) rotateX(-90deg); }
  .Cube .Show_bottom { transform: translateZ(-100px) rotateX(90deg); } */

.Cube__face--front  { transform: rotateY(0deg) translateZ(200px); 
    background: rgb(46, 47, 48) url("../../assets//images/steamCookEmptyWrapper.png") no-repeat center; 
    background-size: auto 100%;
    border-radius: 5px;
}
.Cube__face--right  { transform: rotateY(90deg) translateZ(200px) translateY(-5px);}
.Cube__face--back   { transform: rotateY(180deg) translateZ(200px);background-color: black;}
.Cube__face--left   { transform: rotateY(-90deg) translateZ(195px);background-color: black;border-radius: 20px;}
.Cube__face--top    { transform: rotateX(90deg) translateZ(195px);background-color: black;border-radius: 15px;}
.Cube__face--bottom { transform: rotateX(-90deg) translateZ(200px);background-color: grey;border-radius: 15px;}

.Cube__face--front img{opacity: 0.1;}
.Show_right .Cube__face--front img{opacity: 1;}
/* .Show_right .Cube__face--front {background: rgb(207, 208, 209) url("../../assets//images/steamCookEmptyWrapper.png") no-repeat center; } */
.Show_right .Cube__face--left
{background-color: white;transition: 2s;}

.SteamOn{    
opacity: 1;
transition: 1s;
}
.SteamOff{    
opacity: 0;
transition: 1s;
}
   
.OrderBlock{
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    /* transform: translateX(2%) skewX(-175deg); */
    transform-origin: bottom;  
    margin: 0;
}
/* .OrderBlock button{transform: skewX(175deg); } */

.SumBlock{
    position: absolute!important;
    z-index: 99;
    top: -100%;
    left: 40%;
    display: flex;
    flex-flow: column;
    justify-content:space-between;
    align-items: stretch;
    height: auto;
    width:  500px;
    transition:.7s;
    color: rgb(20, 20, 20);
    border: 4px solid  rgb(52, 52, 73);
}
.SumBlockShow{
    top: 40%;
    transition: .7s;
}
.BlurBlock{
    position: absolute;
    z-index: 98;
    height: 100%;
    width: 100%;
    background-color: rgb(216, 212, 212,.2);
    /* filter: blur(4px); */
    backdrop-filter: blur(10px);
    transition:1.3s;

}
.SumBlockWraper{
    height:20vh;
    width: 100%;

    /* border: 4px solid  rgb(52, 52, 73); */
    /* border: 2px solid black; */
    transform: translateX(0) translateY(5px); 
    position: relative;
    /* background-color: rgb(52, 52, 73); */
    /* transform: rotate(5deg); */
    transition: .3s;
    animation-timing-function:ease-out;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px; */
    /* box-shadow: rgba(218, 47, 47, 0.9) 0px 2px 2px 5px; */  
}

.Right{
    display: flex;
    flex-flow: column;
    padding: 0 70% 0 0;
    transition:1s;
    transition-timing-function: ease-in;
    /* justify-content: flex-start; */
     /* border: 2px solid grey; */
}
.Left{
    display: flex;
    flex-flow: column;
    padding: 0 0 0 70%;
    transition:1s;
    transition-timing-function: ease-in;
    /* justify-content: stretch; */
     /* border: 2px solid grey; */
     }
     .SumBlockLineRight{
        width: 100%;
        height: 50%;
        border-top: 2px solid black;
        border-left: 1px solid black;
     }
     .SumBlockLineLeft{
         width: 100%;
         height: 50%;
        border-top: 2px solid black;
        border-right: 2px solid black;
    }
    .SumBlockLineTopLeft{
        width: 100%;
        height: 0px;
        margin: 70px 0 0 0;
        border-left: 2px solid black;
        transition:1s;
        transition-timing-function: ease-out;
        transition-delay: 1s;
    }
    .SumBlockLineTopRight{
        width: 100%;
        height: 0px;
        margin: 70px 0 0 0;
        border-right: 2px solid black;
        transition:1s;
        transition-timing-function: ease-out;

        transition-delay: 1s;

    }
    .GrowTopRight{
        height: 50px;
        margin: 20px 0 0 0;
    }
    
    .GrowTopLeft{
        height: 50px;
        margin: 20px 0 0 0;

    }
    .GrowRight{
        padding: 0 20% 0 0;
    }
    .GrowLeft{
        padding: 0 0 0 20%;
    }
.Przepisy p{
    margin: auto;
}
.ContentDiv{
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    background-color: #F2F3F5;
   width: 100%;
   height: 70vh;
   /* border: 1px solid black; */
   overflow: scroll;
   overflow-y:hidden;
   overflow-x: hidden; 
   float: left;
    /* transform: skewX(175deg); */
}
.ContentDiv>div{
    display: flex!important;
    flex-direction: row!important;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.BlockPriceTest{
    transform:rotate(90deg) translateX(-250px) translateY(-200px)!important;
        font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900!important;
    font-size: 800%;
    opacity: 0.5;
    transition:1s;
}
.ContentDivLink{
    position: absolute;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top:10%;
    left:48.5%;


}

.ContentDivLink a{
    width: 40px;
    height: 40px;
    background-color: black;
    cursor: pointer;
    clip-path: polygon(0% 99%, 0% 0%, 100% 0, 100% 100%, 95% 100%, 95% 5%, 48% 5%, 5% 5%, 5% 100%);
    transition:.3s;
}

.OrderListwraper{
    position: absolute;
    z-index: 100;
    left:48%;
    transform: translateY(-150px);
    transition:.3s;
}
.OrderListwraperShow{
    transform: translateY(50px);

}
.OrderListwraper a{
    width: 40px;
    height: 40px;
    background-color: black;
    cursor: pointer;
    clip-path: polygon(100% 5%, 5% 5%, 5% 30%, 0 30%, 0 0, 100% 0, 100% 3%, 100% 27%, 95% 27%, 95% 47%, 15% 47%, 0 47%, 0 72%, 5% 72%, 5% 52%, 100% 52%, 100% 70%, 95% 70%, 95% 95%, 44% 95%, 0 95%, 0 100%, 82% 100%, 100% 100%, 100% 65%);    transition:.3s;
}
.OrderListwraper .LinkWraper:hover a{
    clip-path: polygon(100% 26%, 5% 27%, 5% 47%, 0 47%, 0 22%, 100% 21%, 100% 35%, 100% 27%, 95% 27%, 95% 47%, 15% 47%, 0 47%, 0 72%, 5% 72%, 5% 52%, 100% 52%, 100% 52%, 95% 51%, 95% 70%, 44% 70%, 0 70%, 0 75%, 82% 75%, 100% 75%, 100% 41%);
}
.OrderListwraper .ClickLinkWraper:hover a,
.ClickLinkWraper a
{
    clip-path: polygon(31% 100%, 0 100%, 0 80%, 0 72%, 0 63%, 0 50%, 0 43%, 0 27%, 0 12%, 0 0, 26% 0, 30% 0, 71% 100%, 70% 0, 85% 0, 100% 0, 100% 19%, 100% 49%, 100% 68%, 100% 87%, 100% 100%, 95% 100%, 86% 100%, 71% 100%, 30% 0);
}
.CheckBasket a{
    animation: wave 3s infinite;  
    }

.ContentDivLink .LinkWraper:hover a{
    clip-path: polygon(50% 100%, 0% 0%, 100% 0, 50% 100%, 50% 100%, 95% 5%, 50% 100%, 5% 5%, 50% 100%);
    transition:.3s;
} 

.ContentDivLink .LinkWraper:focus a{
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    transition:.3s;
} 
.OrderBlockBackButtom{
    position: absolute;
    top:0;
}

.BlockCell{
height: 400px;
}

.ContentDiv div{ 
    display:block;width: 100%;
}
/* .OrderHelp{
    position: absolute;
    font-size: 1000px;
    bottom: -10%;
    right: 10%;
} */

.SumBlockContentWrasper{
    overflow: scroll;
    display: flex;
    flex-flow: column;
    justify-content:center;
    justify-content:space-between;
    height: 100%;
    width: 100%;
    transition:1.3s;
}

.SumBlockContentWrasper::-webkit-scrollbar {
    display: none;
  }

.SumBlockCellHolder{
    margin: 20px 0;
    animation: cellAdd 1s ;
}
.SumBlockCellName{
    width: 200px;
}

.SumBlockCellPay{
    display: flex;
    flex-flow: row;
    width: 600px;
    font-size: 70px;
    transform: translateX(200%);
    opacity: 0;
    transition:2s;

}
.SumBlockCellPayActive{
    transform: translateX(0);
    opacity: 1;
    transition:2s;
}
.SumBlockButton {
    width: 100px;
    height: 100px;
    margin:10px 0 0 0 ;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: black;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 38% 100%, 0% 50%);
    transition:.45s;
}
.SumBlockButton:hover {
    clip-path: polygon(0 0, 61% 0, 100% 50%, 67% 100%, 0 100%, 0% 50%);
}

.SumBlockButton button{
    width: 100%;
    height: 100%;
    background-color: black;
    border: none;
}
.SumBlockButton button:hover{
    background-color: black;
}
.SumBlockContentWrasper>div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 15px;
}
.SumBlockContentWrasper div p{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.SumBlockContentWrasper span:last-child{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 40%;
}
.UnderlineStyle{
    text-transform: uppercase;
    font-style: italic;
}
@media(max-width:1970px){
    .SumBlockCellPay{
        width: 500px;
        font-size: 50px;   
    }
    .SumBlock{
        left: 35%;
        background-color: rgba(253, 253, 253,0.8);
    }
}
@media(max-width:1280px){
    .SumBlockCellPay{
        width: 400px;
        font-size: 40px;   
    }
    .SumBlockButton {
        width: 80px;
        height: 80px;
    }
    .SumBlock{
        left: 30%;
    }
    .BlockPriceTest{
        transform:rotate(90deg) translateX(-200px) translateY(-150px)!important;
        font-weight: 900!important;
        font-size: 600%;
    }
    .Logo{
        width: 150px;
        height: 100px;
    }
}
@media(max-width:1025px){
    .SumBlockCellPay{
        width: 400px;
        font-size: 40px;   
    }
    .SumBlockButton {
        width: 70px;
        height: 70px;
    }
    .SumBlock{
        left: 30%;
    }
    .BlockPriceTest{
        transform:rotate(90deg) translateX(-150px) translateY(-120px)!important;
        font-weight: 900!important;
        font-size: 450%;
    }

    .Scene {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
      height: 200px;
      perspective: 800px;
      }
      
      .Cube {
        width: 200px;
        height: 200px;
        position: relative;
        transform-style: preserve-3d;
        transform: translateZ(-50px);
        transition: transform 1s; 
      }
      
      .Cube__face {
        position: absolute;
      width: 200px;
      height: 200px;
      /* border: 2px solid black; */
      line-height: 200px;
      font-size: 40px;
      font-weight: bold;
      color: white;
      text-align: center;
      }
      .Cube__face img{
          width: 100%;
          height: 100%;
      }
    .Show_right  { transform: translateZ(-100px) rotateY(-20deg); }

    
    .Cube__face--front  { transform: rotateY(0deg) translateZ(100px); 
        background: rgb(46, 47, 48) url("../../assets//images/steamCookEmptyWrapper.png") no-repeat center; 
        background-size: auto 100%;
        border-radius: 5px;
    }
    .Cube__face--right  { transform: rotateY(90deg) translateZ(100px) translateY(-6px);}
    .Cube__face--back   { transform: rotateY(180deg) translateZ(100px);background-color: black;}
    .Cube__face--left   { transform: rotateY(-90deg) translateZ(97.5px);background-color: black;border-radius: 15px;}
    .Cube__face--top    { transform: rotateX(90deg) translateZ(97.5px);background-color: black;border-radius: 10px;}
    .Cube__face--bottom { transform: rotateX(-90deg) translateZ(100px);background-color: grey;border-radius: 10px;}

    .SumBlockWraper{
        height:150px;
    }

    .Logo{
        width: 150px;
        height: 100px;
    }
    
}
@media(max-width:850px){
    .SumBlockCellPay{
        width: 300px;
        font-size: 20px;   
    }
    .SumBlockButton {
        width: 80px;
        height: 50px;
        font-size: 10px;
    }
    .SumBlock{
        left: 20%;
    }
    .SumBlockWraper{
        height:150px;
    }
    .BlockPriceTest{
        transform:rotate(90deg) translateX(-10px) translateY(-100px)!important;
        font-weight: 900!important;
        font-size: 300%;
    }
    .ContentDiv{
       width: 100%;
       height: 60vh;
    }
    .Logo{
        width: 150px;
        height: 100px;
    }
    /* .SumBlock{
        width: 100vw;
        margin: 0 0 40px 0;
        display: flex;
       
    }
    .SumBlock button{
        display: flex;
        margin: 40px 0 0 0;
        width: 100vw;
        border-radius:0 0 25px 25px;
        text-align: center;
        justify-content: center;
    }
    .SumBlock div{
        flex-flow: column;
        justify-content: center;
        text-align: center;
    }
    .SumBlockCell{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
        border-radius: 25px;
        width: auto;

    }
    .SumBlock div p{
        display: flex;
        font-size: 1.2em;
        width: auto;
        justify-content: center; 
    } */
}
@keyframes imgEfects{
    0%{opacity: 0;};
    100%{opacity: 1;}
}
@keyframes pulse{
    0%{
        /* transform: scale(0.9); */
        box-shadow: rgba(218, 47, 47, 0.9) 0px 2px 2px 5px;
}
    70%{
        transform: translateX(26vw) translateY(6vh);
        box-shadow: rgba(218, 47, 47, 0) 0px 2px 2px 25px;
}
    100%{
        /* transform: scale(0.8); */
        box-shadow: rgba(218, 47, 47, 0) 0px 2px 2px 5px;
}
}

@keyframes growTopRight{
    to {
        height:50px;
    }
}
@keyframes fallTopRight{
    to {
        height:0px;
    }
}

@keyframes wave{
    0% {
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%, 95% 100%, 95% 5%, 94% 5%, 5% 50%, 5% 100%);    }
    50%{
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%, 95% 100%, 95% 5%, 95% 50%, 5% 5%, 5% 100%);
    }
    100% {
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%, 95% 100%, 95% 5%, 94% 5%, 5% 50%, 5% 100%);    }
}

@keyframes cellAdd{
    0% {
        opacity: 0;    }

    100% {
        opacity: 1;   }
}