.Przepisy{
    display: flex;
    flex-flow: row;
    align-items: stretch;
    margin: auto;
    /* padding-top: 5em; */
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    /* background: lightblue url("../../assets//images///elephant-monochrome-black-background-closeup-3504x2336-2957.jpg") no-repeat fixed center; */
    background-size: 100% 100%;
    background-color: #F2F3F5;
}
.ImgOrderBlock{
    display: flex;
    flex-flow: column;
    width: 70%;
    height: 100vh;
    text-align: center;
    align-content: center;
    justify-content: center;

    /* border:1px solid black; */
    /* transform: translateX(-6%) skewX(-175deg); */
    /* clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%); */
/* background: lightblue url("../../assets//images/pastrami1.jpg") no-repeat center; */
/* background: #F2F3F5 url("../../assets//images/steamCook.png") no-repeat center; */
background-size: auto 60%;
}
.ImgOrderBlock img{
    /* opacity: 0.6; */
    /* display: block;
     margin-left: auto;
    margin-right: auto;
    width: 91%;
    height: 60%; */
}

.Scene {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  height: 400px;
  /* border: 1px solid #CCC; */
  margin: 80px;
  perspective: 800px;
  }
  
  .Cube {
    width: 400px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s; 
  }
  
  .Cube__face {
    position: absolute;
  width: 400px;
  height: 400px;
  /* border: 2px solid black; */
  line-height: 400px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  }
  .Cube__face img{
      width: 100%;
      height: 100%;
  }
  /* .Cube .Show_front  { transform: translateZ(-100px) rotateY(0deg); } */
.Show_right  { transform: translateZ(-100px) rotateY(-20deg); }
  /* .Cube .Show_back   { transform: translateZ(-100px) rotateY(-180deg); }
  .Cube .Show_left   { transform: translateZ(-100px) rotateY(90deg); }
  .Cube .Show_top    { transform: translateZ(-100px) rotateX(-90deg); }
  .Cube .Show_bottom { transform: translateZ(-100px) rotateX(90deg); } */

.Cube__face--front  { transform: rotateY(0deg) translateZ(200px); 
    background: rgb(46, 47, 48) url("../../assets//images/steamCookEmptyWrapper.png") no-repeat center; 
    background-size: auto 100%;
    border-radius: 5px;
}
.Cube__face--right  { transform: rotateY(90deg) translateZ(200px) translateY(-5px);}
.Cube__face--back   { transform: rotateY(180deg) translateZ(200px);background-color: black;}
.Cube__face--left   { transform: rotateY(-90deg) translateZ(195px);background-color: black;border-radius: 20px;}
.Cube__face--top    { transform: rotateX(90deg) translateZ(195px);background-color: black;border-radius: 15px;}
.Cube__face--bottom { transform: rotateX(-90deg) translateZ(200px);background-color: grey;border-radius: 15px;}

.Cube__face--front img{opacity: 0.1;}
.Show_right .Cube__face--front img{opacity: 1;}
/* .Show_right .Cube__face--front {background: rgb(207, 208, 209) url("../../assets//images/steamCookEmptyWrapper.png") no-repeat center; } */
.Show_right .Cube__face--left
{background-color: white;transition: 2s;}

.SteamOn{    
opacity: 1;
transition: 1s;
}
.SteamOff{    
opacity: 0;
transition: 1s;
}
/* .SteamOn{
    background: #F2F3F5 url("../../assets//images/steamCookOf.png") no-repeat center;
background-size: auto 80%;
} */
   
.OrderBlock{
    height: 100vh;
    width: 80%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    /* transform: translateX(2%) skewX(-175deg); */
    transform-origin: bottom;  
    margin: 0;
}
/* .OrderBlock button{transform: skewX(175deg); } */

.SumBlockWraper{
    height: 200px;
    width: 200px;
  
    border: 4px solid  rgb(52, 52, 73);
    border-radius: 800px ;
    transform: translateX(27vw) translateY(7vh);
    
    position: relative;
    /* background-color: rgb(52, 52, 73); */
    /* transform: rotate(5deg); */
    transition: .3s;
    animation-timing-function:ease-out;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px; */
    /* box-shadow: rgba(218, 47, 47, 0.9) 0px 2px 2px 5px; */
  
}
.SumBlockWraper:hover{
    height:20vh;
    width: 100%;
    /* animation-iteration-count: 1; */
    transform: translateX(0) translateY(0%);
    border-radius: 80px 0 0 0;

    /* box-shadow: rgba(218, 47, 47, 0.9) 0px 2px 2px 5px; */

}
/* .SumBlockWraper::before {
    display: block; 
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0; 
    left: 0; 
     transform: translateY(-100%);
    background:  rgb(79, 79, 182);
    transform: translateY(-100%) skewY(-175deg);
    transform-origin: left;  
}   */
.Przepisy p{
    margin: auto;
}
.ContentDiv{
    margin-top: 5em;
    background-color: #F2F3F5;
    transform: skewX(175deg);
}
.SumBlock{
    display: flex;
    flex-flow: row;
    justify-content:space-between;
    align-items: stretch;
    height: 100%;
    width:  100%;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    border-radius: 25px; */
    color: #F2F3F5;
    /* transform: rotate(-5deg); */
        /* transform: skewX(170deg); */
}
.Pulse{
    animation: pulse 2s infinite;
}
.SumBlockContentWrasper{
    overflow: scroll;
    display: flex;
    flex-flow: column;
    justify-content:center;
    height: 100%;
    width: 100%;

}
.SumBlockContentWrasper::-webkit-scrollbar {
    display: none;
  }
.SumBlockCellPay{
/* background-color: blanchedalmond; */
}
.SumBlockCellHolder{
    margin: 20px 0;
}
.SumBlockCellName{
    width: 200px;
}
.SumBlockButton {
    /* position: absolute;
    bottom: 0;
    right: 0;
    height: 20vh; */
    display: flex;
    /* margin: 40px 0 0 0; */
    /* width: 20%; */
    /* border-radius:0 0 25px 25px; */
    text-align: center;
    justify-content: center;
}
.SumBlockContentWrasper>div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 15px;
}
.SumBlockContentWrasper div p{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.SumBlockContentWrasper span:last-child{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 40%;
}
.UnderlineStyle{
    text-transform: uppercase;
    font-style: italic;
}

@media(max-width:850px){
    .SumBlock{
        width: 100vw;
        margin: 0 0 40px 0;
        display: flex;
       
    }
    .SumBlock button{
        display: flex;
        margin: 40px 0 0 0;
        width: 100vw;
        border-radius:0 0 25px 25px;
        text-align: center;
        justify-content: center;
    }
    .SumBlock div{
        flex-flow: column;
        justify-content: center;
        text-align: center;
    }
    .SumBlockCell{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
        border-radius: 25px;
        width: auto;

    }
    .SumBlock div p{
        display: flex;
        font-size: 1.2em;
        width: auto;
        justify-content: center; 
    }
}
@keyframes imgEfects{
    0%{opacity: 0;};
    100%{opacity: 1;}
}
@keyframes pulse{
    0%{
        /* transform: scale(0.9); */
        box-shadow: rgba(218, 47, 47, 0.9) 0px 2px 2px 5px;
}
    70%{
        transform: translateX(26vw) translateY(6vh);
        box-shadow: rgba(218, 47, 47, 0) 0px 2px 2px 25px;
}
    100%{
        /* transform: scale(0.8); */
        box-shadow: rgba(218, 47, 47, 0) 0px 2px 2px 5px;
}
}