.Main{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content:center;
    margin: 0;
    padding: 0;
    /* margin-top: 5vh; if header in Layout will be available*/ 
    width: 100vw;
    overflow: hidden; 
    height: 100vh;
    /* text-align: center;
    border: 1px solid black; */
    /* background: lightblue url("../../assets//images//modern-przygotowanie-skylight-looking-up-at-sky-glass-7254x4841-2591.jpg") no-repeat fixed center;
    background-size: 100% 100%; */
    background-color: #F2F3F5;
}

.Main>div{
    display: inline-block;
    width: 20vw;
   height: 100vh;
   padding: 0;
   margin: 0;
   transition: 0.45s;
}
.Main>div:hover{
    width: 35vw;
}
/* .Main>div:last-child:hover .Main>div{
    width: 2vw;
} */
.Active :hover{
    opacity: 1; 
}

.Active:not(:hover){
    opacity:0.5; 
}
.Active{
   opacity:1; 
   transition: 0.45s;
   animation-direction: reverse;
}
.Main::-webkit-scrollbar-button {
    display: none;
  }
.MainContentPicture{
    transition:0.5s;
    transition-timing-function: liner;
}
.MainContentPicture:hover{
    transform: scale(1.5);
}
@media(max-width:700px){
    .Main{
        display: block;
    overflow: none;
}
}