.Main{
    display: flex;
    /* flex-flow: column;
    align-items: center; */
    margin: 0;
    padding: 0;
    /* margin-top: 5vh; if header in Layout will be available*/ 
    width: 100%;
    overflow: hidden; 
    height: 100vh;
    /* text-align: center;
    border: 1px solid black; */
    /* background: lightblue url("../../assets//images//modern-przygotowanie-skylight-looking-up-at-sky-glass-7254x4841-2591.jpg") no-repeat fixed center;
    background-size: 100% 100%; */
    background-color: #F2F3F5;
}

.Main::-webkit-scrollbar-button {
    display: none;
  }
.MainContentPicture{
    transition:0.5s;
    transition-timing-function: liner;
}
.MainContentPicture:hover{
    transform: scale(1.5);
}
@media(max-width:700px){
    .Main{
        display: block;
    overflow: none;
}
}