.NavigationItem{
      background-size: auto 100% ;
background-repeat: no-repeat;
color: aliceblue;
text-decoration: none;
list-style: none;
opacity: 0.8;
/* text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black; */
}

.NavigationItem img{
    /* transform: rotate(90deg); */
    margin: 0;
    position: absolute;
    /* top: 25vh; */
    width: 100%;
    left: 0;
    top:150%;
    transition-property: opacity,-webkit-transform;
    transition-property: transform,opacity;
    transition-property: transform,opacity,-webkit-transform;
    transition-duration: .45s;
    transition-delay: 0ms;
    transition-timing-function: cubic-bezier(.5,0,.1,1);
    will-change: transform,opacity;
    transition: .45s;

    /* float: left; */
}

.NavigationItem a{
    font: 900 2vw myFirstFont,italic;
-webkit-font-smoothing: antialiased;
text-align: center;
text-decoration: none;
color:white;
pointer-events: auto;
background-repeat: no-repeat;
box-sizing: inherit;
touch-action: manipulation;
position: relative;
display: inline-block;
overflow: hidden;
cursor: pointer;
white-space: normal;
transition-property: transform,opacity,-webkit-transform;
transition-duration: .45s;
transition-delay: 0ms;
transition-timing-function: cubic-bezier(.5,0,.1,1);
will-change: transform,opacity;
width: 100%;
height: 100vh;
background-size: auto 100% ;
background-repeat: no-repeat;
transform: translate3d(0px, 0px, 0px) scale(1);
transition: .45s;
/* transform: rotate(-90deg); */


/* opacity: 0.8; */
}

.NavigationItem a:hover,
.NavigationItem :active,
.NavigationItem .active{
    width: 100%;
    text-decoration: none;
    animation: preViewImg 0.5s;
    font-size: 6vw;
    /* transform: translate3d(0px, 0px, 0px) scale(1.2); */
    /* text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black; */

}
.NavigationItem a:hover img{
    top: 30vh;
    transition: .45s;
    transition-delay: .30s;
}

@media(max-width:540px){
    /* .NavigationItem{
        margin: 0;
        display: flex;
        height: 100%;
         width: auto; 
        align-items: center;
    } */
    .NavigationItem a{
        text-decoration: none;
        font: 900 10vh myFirstFont,italic;
        transform: rotate(0deg);
    }

    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active{
        text-decoration: none;
        color: antiquewhite;
        /* background-size: auto 100% ; */
        animation: preViewImg 0.5s;
        transform: translate3d(0px, 0px, 0px) scale(1);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    }


}



@keyframes preViewImg {
    0% {    background-size: auto 100% ;
    }
    20%{    background-size: auto 110% ;
    }
    100% {
        background-size: auto 100% ;
    }
  }