.BackBtnBlock{
    position: absolute;
    margin-top:20px;
    left:90%;
    transition:1s;
}
/* .BackBtn{
    position: absolute;
    margin-top:80px;
} */
/* .BackBtn button{
    width: 100px;
    height: 50px;
    clip-path: polygon(50% 42%, 50% 42%, 50% 0, 100% 50%, 50% 100%, 50% 57%, 50% 57%);
    transition: 0.3s;
}
    .BackBtnBlock:hover .BackBtn button{
        clip-path: polygon(0 42%, 50% 42%, 50% 0, 100% 50%, 50% 100%, 50% 57%, 0 57%);
    } */
    .BackBtn button{
        width: 50px;
    height: 50px;
    clip-path: polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 1%, 50% 40%);
    transition: 0.3s;
    }
    .BackBtnBlock:hover .BackBtn button{
        clip-path: polygon(10% 0, 0 10%, 30% 50%, 0 90%, 10% 100%, 50% 70%, 90% 100%, 100% 90%, 70% 49%, 100% 10%, 90% 1%, 50% 30%);    } 

    @media(max-width:1025px){
        .BackBtn button{
            margin-top:20px;
            left:80%;
        }
    }
    @media(max-width:850px){
        .BackBtn button{
            width: 40px;
            height: 40px;
            margin-top:10px;
            left:90%;
        }
    }
    @media(max-width:550px){
        .BackBtnBlock{
            left:80%;
        }
    }