.Order{
    display: flex!important;
    flex-direction: column!important;
    width: 100vw!important;
    height: 100vh;
    margin: 20px 0;
    justify-content: space-around;
    transform:translateX(250px);
    border-radius: 25px;
    /* height: 80px; */
}
@font-face {
    font-family: sidePriceFont;
    /* src: url(../../assets/font/anybody/Anybody-CondensedBlackItalic.woff2); */
    /* src: url(../../assets/font/ArfelickFeather/ArfelickFeather.otf); */
    src: url(../../assets/font/SourceSans/SourceSansPro-Black.ttf);

  }

.Price{
    font-size: 1000%;
    width: 100px;
    height: 100px;
    transform: rotate(90deg) translateY(-550px) translateX(-300px);
    /* font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900!important; */
    font: 900 4vw sidePriceFont,sans-serif;
}
/* .Price::after,.Price::before{
    content: "";
    margin: 10px 20px;
    border-left: 1px solid black;
} */
.Order span{
    height: 100%;
    padding: 2vh 0;
    width: 20%;
    font-size: 1.2em;
    transition: .45s
}
.CountVisible{
    width: 5%!important;
    opacity: 1;
}
.CountUnVisible{
    width: 5%!important;
    opacity: 0!important;
}

.Order button{
    margin: 1.8vh;
    /* height: 50%; */
    transition: .45s
}
.UnderlineStyle{
    font-size: 600%!important;
    /* text-transform: uppercase; */
    font-family: 'Source Sans Pro', sans-serif;
}
.OrderBlockBtn{
    display: flex!important;
    flex-direction: column!important;
    justify-content: center;
    align-items: center;
    transition:1s;
}
.OrderBlockBtnRotate{
    display: flex!important;
    flex-direction: column!important;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
    transition:1s;
}
.OrderBlockCirkle{
    width: 20px!important;
    height: 20px!important;
    padding: 0!important;
    background: black;
    border: none;
    clip-path: circle(50% at 50% 50%);
}
.BlockBtnMinusVisible{
    opacity: 1;
    width: 50px;
    height: 70px;
    background: black;
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 50%);
    transition:1s;
}
.BlockBtnMinusUnVisible{
    /* opacity: 0!important; */
    width: 50px;
    height: 70px;
    background: black;
    clip-path: polygon(0 48%, 100% 48%, 100% 52%, 0 52%);
    transition:1s;
}

.BlockBtnPlus{
    opacity: 1;
    width: 50px;
    height: 70px;
    background: black;
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 50%);
    transform: rotate(-90deg);

}

.BlockBtnPlusHide{
    width: 50px;
    height: 70px;
    background: black;
    clip-path: polygon(0 48%, 100% 48%, 100% 52%, 0 52%);
    transition:1s;
    transform: rotate(90deg);
}
/* .OrderHelp{
    position: absolute!important;
    font-size: 1000px;
    bottom: -10%;
    right: 10%;
} */
/*  */
/* .OrderBlockBtn{

} */
@media(max-width:1970px){
    .UnderlineStyle{
        font-size: 400%!important;
        /* text-transform: uppercase; */
        font-family: 'Source Sans Pro', sans-serif;
    }

}
@media(max-width:1025px){
    .BlockBtnMinusVisible{
        width: 30px;
        height: 50px;
    }
    .BlockBtnMinusUnVisible{
        width: 30px;
        height: 50px;;
    }
    
    .BlockBtnPlus{
        width: 30px;
        height: 50px;
    }
    
    .BlockBtnPlusHide{
        width: 30px;
        height: 50px;
    }
}
@media(max-width:850px){
    .UnderlineStyle{
        font-size: 300%!important;
        /* text-transform: uppercase; */
        font-family: 'Source Sans Pro', sans-serif;
    }
    .Order{
        width: 100vw;
        height: auto;
        flex-flow:column;
        text-align: center;
        justify-content: center;
        margin: 0;
        transform:translateX(150px);
    }
    .Order span{
        width: auto;

    }
    .OrderBlockBtn{
        display: flex;
        flex-flow: column;
        justify-content: center;
        width: 100vw;
        padding: 0 10px;
 
       
    }
    .OrderBlockBtn button{
        animation: preViewbtn .5s;
        animation-fill-mode: forwards;
    }
    .OrderBlockCirkle{
        width: 15px!important;
        height: 15px!important;
    }
    .BlockBtnMinusVisible{
        width: 30px;
        height: 50px;
    }
    .BlockBtnMinusUnVisible{
        width: 30px;
        height: 50px;;
    }
    
    .BlockBtnPlus{
        width: 30px;
        height: 50px;
    }
    
    .BlockBtnPlusHide{
        width: 30px;
        height: 50px;
    }
}

@keyframes preViewbtn {
    0% {opacity: 0;}
    100%{opacity: 1;
     }
  }