.Przepisy{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;

    /* margin: auto;
    margin-top: 5em; */
    width: 100vw;
    height: 100vh;
    /* background: lightblue url("../../assets//images///elephant-monochrome-black-background-closeup-3504x2336-2957.jpg") no-repeat fixed center; */
    /* background-size: 100% 100%; */
}
.Przepisy p{
    margin: auto;
}

.Przepisy form{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    margin-top: 30vh; 
    /* border: 1px solid black; */
    height: 50vh;
} 

form button:not(.Submit) {
  border-radius: 10px!important;
    height: 50px;
    width: 300px;
    
/* clear: both;    */
    margin: 40px 40px;
    align-items: center;
    text-align: center;
    padding: 0;
    font-size: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    } 
form button div{
    align-items: center;
    text-align: center;
    /* border: 1px solid black; */
    margin-left: 0%;
    font-size: 100%;
    text-transform: uppercase!important;
    }
    form button span{
        text-transform: uppercase;
        color: grey;
        }

form .Submit {
    width: 200px;
margin: 20% 0;
} 

.Przepisy form textarea{
   width:50vw;
}
.Przepisy .BackBtn{
    position: absolute;
    margin-top:80px;
}
.Przepisy .BackBtn button{
    width: 200px;
}

@media(max-width:700px){
    .Przepisy form{
   width: 100vw;
   align-items: center;
   text-align: center;
    } 
    .Przepisy form textarea{
        width:100vw;
     }
     form button div{
        align-items: center;
        text-align: center;
        /* border: 1px solid black; */
        margin-left: 10%;
        }
        form .Submit {
            position: absolute;
            margin: 0;
            bottom: 0;
        } 
        form button:not(.Submit) {
            margin: 20px 40px;
        }
    
}