.Contact{
    display: flex;
    flex-flow: row;
    align-items: center;
    text-align: center;

    /* margin: auto;
    margin-top: 5em; */
    width: 100vw;
    height: 100vh;
    /* background: lightblue url("../../assets//images///elephant-monochrome-black-background-closeup-3504x2336-2957.jpg") no-repeat fixed center; */
    /* background-size: 100% 100%; */
}
.ContactLeft{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    justify-content:center;
    color:white;

    height: 100%;
    width: 50vw;
    /* border: 1px solid black; */
    background: url(../../assets//images//leftBg.jpg)fixed left no-repeat;
    background-size: auto 100%;
}
/* .ContactLeft button{
    position: absolute!important;
    z-index: 106;
    top:0;
} */
.ContactLeft .ContactLeftBlock{
   width: 60%;
   align-items: left;
  text-align: left; 
    margin: 40px 0; 
    font-size: 1.2em;
}
/* .ContactLeft .ContactLeftBlockContent{
    width: 90%;
    align-items: ri;
    text-align:right; 
/* margin: 0 60px; */
 */
.ContactLeftBlock svg{
    margin: 0 20px;
}
.ContactRight{
    height: 100%;
        width: 50vw;
        /* border: 1px solid black; */
    }
.Contact .ContactRight p{
    margin: auto;
}
.ContactRight>a{
position: absolute;
left:20vw;
/* border: 2px solid red; */
}
.ContactLeftBlockTitle{
    font-size: 1.2em;
}

.Contact .ContactRight>form{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    margin-top: 30vh; 
    height: 50vh;
} 
.Contact .ContactRight>form label{
    /* position: absolute; */
    padding: 0 0 40px 0;
    top:10vh;
    right: 20vw;
    font-size: 2em;
    font-family: "Roboto";
    /* text-transform: uppercase; */
/* margin: 0 0 200px 0; */
}
.Green{
    color:green;
}
.Grey{
    color:gray;
}

.Contact .ContactRight>form button:not(.Submit) {
  border-radius: 10px!important;
    height: 50px;
    width: 300px;
    
/* clear: both;    */
    margin: 40px 40px;
    align-items: center;
    text-align: center;
    padding: 0;
    font-size: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    } 
    .Contact .ContactRight>form button div{
    align-items: center;
    text-align: center;
    /* border: 1px solid black; */
    margin-left: 0%;
    font-size: 100%;
    text-transform: uppercase!important;
    }
    .Contact .ContactRight>form div textarea{
        width: 100%!important;
        
        }
        .Contact .ContactRight>form button span{
        text-transform: uppercase;
        color: grey;
        }

        .Contact .ContactRight>form .Submit {
    width: 200px;
margin: 20% 0;
} 

.Contact .ContactRight>form textarea{
   width:500px;
}
.Contact .BackBtn{
    position: absolute;
    margin-top:80px;
}
.Contact .BackBtn button{
    width: 200px;
}
.ContactRight .GoogleBtn{
    display: flex;
    flex-flow: row;
    align-content: center;
}
.ContactRight .GoogleIcon {
    position: absolute;
    /* margin-top: 11px;
    margin-left: 11px; */
    margin: auto 12px;
    width: 18px;
    height: 18px;
  }
  .ContactRight .BtnText{
    float: right;
    margin: 11px 11px 0 0;
    color: rgb(131, 122, 122);
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
    text-transform: uppercase;
  }
  .Contact .ContactRight>form button>span{

    /* margin: 11px 11px 0 0; */
    color: rgb(131, 122, 122);
    font-size: 16px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
    text-transform: uppercase;
 }
@media(max-width:700px){
    /* .Contact{
        position: relative;
        display: flex;
        flex-flow: column;
        flex-direction:column-reverse;
    } */
    .ContactRight>a{
        position: absolute;
        left:25vw;
        /* border: 2px solid red; */
        }
    .ContactLeft{
        display: none;
    }
    .Contact .ContactRight>form{
   width: 100vw;
   align-items: center;
   text-align: center;
    } 
    .Contact .ContactRight>form textarea{
        width:100vw;
     }
     .Contact .ContactRight>form label{
         font-size: 1em;
        top:20vh;
        right: 35vw;
     }
     .ContactRight form button div{
        align-items: center;
        text-align: center;
        /* border: 1px solid black; */
        margin-left: 10%;
        }
        .Contact .ContactRight>form .Submit {
            position: absolute;
            margin: 0;
            bottom: 0;
        } 
        .Contact .ContactRight>form button:not(.Submit) {
            margin: 20px 40px;
        }
    
}