.Contact{
    position: fixed;
    display: flex;
    flex-flow: row;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.ContactLeft{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    justify-content:center;
    color:white;

    height: 100%;
    width: 50vw;
    /* border: 1px solid black; */
    background: url(../../assets//images//steamCookOfContact.png)fixed left no-repeat;
    background-size: auto 100%;
}
.BackBtnBlock{
    position: absolute;
    left: 90%;
    top:0;
}
.ContactLeft .ContactLeftBlock{
   width: 60%;
   align-items: left;
  text-align: left; 
    margin: 40px 0; 
    font-size: 1.2em;
}

.ContactLeftBlock svg{
    margin: 0 20px;
}
.ContactRight{
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    height: 100%;
    width: 50vw;
    }
    .ContentEditInputLineWraper{
        position: relative;
        display: flex!important;
        flex-flow: column!important;
        bottom: 0;
        width: 100%;
        padding: 0 50px;
        justify-content: space-between!important;
    }
    .ContentEditInputLineWraper>div{
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-content: center;
        text-align: center;
        align-items: center;
    }
    .ContentEditInputLine{
        position: relative;
        display: flex!important;
        flex-direction: row!important;
        bottom: 0;
        width: 100%;
        justify-content: space-between!important;
    }
    .ContentEditInputLineWraper>div>button,
.AuthBtn>button{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    border-radius: 10px!important;
    margin: 15px;
    /* height: 50px; */
    width: 300px;
    background-color: #F2F3F5;
    box-shadow: 
12px 12px 16px 0 rgba(0, 0, 0, 0.25),
-8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    transition: .45s;
}

    .SendArrow{
        width: 40px!important;
        height: 40px!important;
        background: black!important;
        clip-path: polygon(9% 46%, 0 0, 100% 57%, 0 100%, 9% 55%, 52% 54%, 52% 54%);
    }
    .SendMessageBtnUn{
        justify-content: center; 
        background: rgb(121, 121, 121)!important;
        border: none;
        box-shadow: 
        4px 4px 8px 0 rgba(0, 0, 0, 0.5),
        -2px -2px 4px 0 rgba(255, 255, 255, 0.4)!important;
        transition: .45s;
    }


    .ChatMessage{
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        padding: 0 50px;
        /* border:1px solid black; */
        background: url("../../assets//images//tile_background .png")
    }

    .ChatMessage .MessageHolder{
        width: 100%;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: #F2F3F5;
    }
    .ChatMessage .MessageHolder>div{
        margin: 20px 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        color: #F2F3F5;
    }

    .ChatMessage .MessageHolderGuest{
        width: 100%;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: black!important;
    }
    .ChatMessage .MessageHolderGuest>div{
        width: 100%;
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        color: black!important;
    }
    .MessageHolder>div>div{
        display: flex;
        padding: 10px;
        border-radius: 10px;
    }
    .MessageHolderGuest>div>div{
        display: flex;
        padding: 10px;
        border-radius: 10px;
    }
    .MessageText{
        background: rgb(0, 132, 255);
    }
    .MessageHolderGuest .MessageText{
        background: rgb(214, 215, 216);
    }
    .MessageHolder img{
        height:60px;
        width: 60px;
        border-radius: 50%!important;
    }
    .MessageTime>div{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        color: black;
    }

.Contact .ContactRight p{
    margin: auto;
}
.ContactRight>a{
position: absolute;
left:20vw;
/* border: 2px solid red; */
}
.ContactLeftBlockTitle{
    font-size: 1.2em;
}

.Contact .ContactRight>form{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    margin-top: 30vh; 
    height: 50vh;
} 
.Contact .ContactRight>form label{
    /* position: absolute; */
    padding: 0 0 40px 0;
    top:10vh;
    right: 20vw;
    font-size: 2em;
    font-family: "Roboto";
    /* text-transform: uppercase; */
/* margin: 0 0 200px 0; */
}
.Green{
    color:green;
}
.Grey{
    color:gray;
}

.Contact .ContactRight>form button:not(.Submit) {
  border-radius: 10px!important;
    height: 50px;
    width: 300px;
    margin: 40px 40px;
    align-items: center;
    text-align: center;
    padding: 0;
    font-size: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    } 
    .Contact .ContactRight>form button div{
    align-items: center;
    text-align: center;
justify-content: center;
    margin-left: 0%;
    font-size: 100%;
    
    text-transform: uppercase!important;
    }
    .Contact .ContactRight>form div textarea{
        width: 100%!important;
        
        }
        .Contact .ContactRight>form button span{
        text-transform: uppercase;
        color: grey;
        }

        .Contact .ContactRight>form .Submit {
    width: 200px;
margin: 20% 0;
} 

.Contact .ContactRight>form textarea{
   width:500px;
}
.Contact .BackBtn{
    position: absolute;
    margin-top:80px;
}
.Contact .BackBtn button{
    width: 200px;
}
.ContactRight .GoogleBtn{
    display: flex;
    flex-flow: row;
    align-content: center;
}
.ContactRight .GoogleIcon {
    margin: auto 12px;
    width: 18px;
    height: 18px;
  }
  .ContactRight .BtnText{
    float: right;
    margin: 11px 11px 0 0;
    color: rgb(131, 122, 122);
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
    text-transform: uppercase;
  }
  .Contact .ContactRight>form button>span{

    /* margin: 11px 11px 0 0; */
    color: rgb(131, 122, 122);
    font-size: 16px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
    text-transform: uppercase;
 }
 .LoginBtnWraper button{
    color: rgb(131, 122, 122);
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
    text-transform: uppercase;
 }
 .UsersListWraper{
     display: flex;
     flex-flow: column;
     justify-content: center;
     align-items:center;
 }
 .UsersListBlock{
     display: flex;
     flex-flow: row;
     width: 250px;
     justify-content: flex-start;
     align-items:center;
     border-radius: 10px;
     margin: 10px 0;
     /* border: 1px solid black; */
 }
 .UsersListBlock:hover{
    background: rgb(166, 201, 235);
 }
 .Active{
    background: rgb(0, 132, 255);
    color: rgb(255, 255, 255);
    /* border: 1px solid rgb(0, 132, 255); */
 }
 .Active:hover{
    background: rgb(0, 132, 255);
 }
 .UsersListBlock>div{
    display: flex;
    flex-flow: column;
    font-size: 14px;
 }
 .UsersListBlock>div .Name{
    font-size: 18px;
 }
 .UsersListBlock>img{
     width: 50px;
     height: 50px;
     margin:5px 10px;
     border-radius: 50%;
 }
 .Logo{
     width: 100%;
     height: 100%;
    background:  rgba(255, 255, 255) url('../../assets//images/logo.png') no-repeat  center;
    background-size: 100%;
    opacity: .2;
 }
 @media(max-width:1200px){
    .LoginBtnWraper {
        display: flex;
        flex-flow: column!important;
    }
 }
 @media(max-width:900px){
    .ContactRight{
        width: auto;
    }
 }
@media(max-width:700px){
    .Contact{
        position: relative;
        display: flex;
        flex-flow: column;
        flex-direction:column;
    }

    .ContactRight>a{
        position: absolute;
        left:25vw;
        /* border: 2px solid red; */
        }
    .ContactLeft{
        width: 100vw;
    }
    
    .ContactRight{
        width: 100vw;
    }
    .Contact .ContactRight>form{
   width: 100vw;
   margin: 20px 0 0 0;
   align-items: center;
   text-align: center;
    } 
    .Contact .ContactRight>form textarea{
        width:100vw;
     }
     .Contact .ContactRight>form label{
         font-size: 1em;
        top:20vh;
        right: 35vw;
     }
     .ContactRight form button div{
        align-items: center;
        text-align: center;
        /* border: 1px solid black; */
        margin-left: 10%;
        }
        .Contact .ContactRight>form button:not(.Submit) {
            border-radius: 10px!important;
              height: 50px;
              width: 250px
                        }
            .Contact .ContactRight>form button p{
font-size: 80%;
            }
        .BackBtnBlock{
            position: fixed;
            left: 80%;
            top:0;
            z-index: 103;
        }
        .Contact .ContactRight>form button:not(.Submit) {
            /* margin: 20px 0; */
        }
        .Contact .ContactRight>form{
            width: 97vw;
            padding: 20px 0 0 0;
            justify-content: center;
        }
    
}