.ComentsBlock{
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: 0;
    padding: 10px 0;
    left: 0;
    text-align: left;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    background-color: rgb(255, 255, 255);
    justify-content:space-around;
    border-radius: 25px;
}
.Column{
overflow: scroll;
}
.ComentsBlockWraper{
    padding:80px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-content: center;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.Wraper img{
    display: flex;
    /* float: left; */
    clear: both;
left: 0;
padding-bottom: 5px;
width:100px!important;
height: 100px!important;
border-radius: 50px;
}
.Wraper .Img{
    margin: 0 15px 0 0;
}

.Wraper{
    width: 80%;
    height: 100%;
    display: flex;
    float: left;
    clear: both;
left: 0;
}
.PWraper{
background-color:white;
border-radius: 25px;
padding: 15px;
margin: 0 15px 0 0;
}
.PWraper p{
    text-align: justify;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
 }
 .BtnEdit{
    width: 100%;
    display: flex;
flex-direction: row;
}
.ComentsBlockBtnSwipe {
    display: flex;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 50%;
    right: 0;
    height: 50px;
    transition:  margin 0.5s,opacity 0.2s;
    transition-timing-function: liner;
    opacity: 1;
    align-items: center;
    justify-content: center;
    }

.ComentsBlockBtnSwipe svg{
    transition: all .1s ease-in-out;
}
.ComentsBlockBtnSwipe:hover svg{
    transform: scale(2);
}
.Close{
    display: none;
}
@media(max-width:1600px){
    .ComentsBlock{
        width: 60%;
    }
}
@media(max-width:1024px){
        
    .ComentsBlockWraper{
        padding: 0 ; 
    }
    .ComentsBlock{
        width: 80%;
    }
}
@media(max-width:768px){
    .ComentsBlock{
        display: flex;
        flex-direction: column;
        width: 90vw;
        padding: 10px 0 5px 0;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    
    .ComentsBlockWraper{
        width: 100vw;
        padding: 0 ; 
        flex-direction: column;
    }
    .Wraper{
        display: flex;
        flex-direction: column;
    }
    .ComentsBlock img{
        display: flex;
        float: left;
        clear: both;
    left: 0;
    margin: 0 15px 0 0;
    padding-bottom: 5px;
    width:100px!important;
    height: 100px!important;
    border-radius: 50px;
    }
    .Wraper .Img img{
        margin-left: 40%;
    }
    .PWraper{
        width: 100%;
        font-size: 1.2em;
        padding: 0;
    }
    .PWraper p{
        margin: 10px 0 0 0;
    }
    .ComentsBlockWraper .ComentsBlockBtnSwipe{
        width: 20%;
        display: flex;
        flex-direction: row;
        margin: 0 35px;
        opacity: 1;
    }
    .ComentsBlockWraper .ComentsBlockBtnSwipe svg{
width: 20px;
height: 20px;
    }
    .BtnEdit{
        justify-content: space-between;
    }
    .Wraper .Img{
        margin: 0;
    }
}
@media(max-width:480px){
    .Wraper .Img img{
        margin-left: 35%;
    }
}