.Coments{
    position: fixed;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0;
    /* padding-top: 5em; */
    /* padding: 5em 0 0 0; */
    width: 100vw;
    height: 100vh;
    text-align: center;
    /* background: lightblue url("../../assets//images///elephant-monochrome-black-background-closeup-3504x2336-2957.jpg") no-repeat fixed center; */
    background-size: 100% 100%;
    background-color: #F2F3F5;
}
.ContentEditWraper{
    position: absolute;
    display: flex;
    /* top: 80%; */
    bottom: 0;
    flex-flow: column;
    align-items: center;
    backdrop-filter: blur(10px);
    /* background-color: #F2F3F5; */
    /* -webkit-box-shadow: inset 0px 11px 20px 0px rgba(0,0,0,0.42); 
    box-shadow: inset 0px 11px 20px 0px rgba(0,0,0,0.42); */
    border-radius: 10px!important;  
}
.ContentEditWraper>div{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
}

.Logo{
    width: 300px;
    height: 200px;
    position: absolute;
    left: 6%;
    top:1%;
    background:  url("../../assets//images/logo.png")no-repeat  center;
    background-size: 100% ;
}

.Coments p{
    margin: auto;

}
.Column{
    display: flex;
    flex-flow: column-reverse;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    -webkit-box-shadow: inset 0px 11px 20px 0px rgba(0,0,0,0.42); 
    box-shadow: inset 0px 11px 20px 0px rgba(0,0,0,0.42);
    background-color: #F2F3F5;
}
.Coments .ContentEditWraper>div>button,
.AuthBtn>button{
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px; */
    display: flex;
    flex-flow: row;
    text-align: center;
    align-content: center;
    border-radius: 10px!important;
    margin: 15px;
    /* height: 50px; */
    width: 300px;
    /* background-color: #F2F3F5; */
    /* box-shadow:  4px 4px 8px #646662,inset 2px 2px 4px white;  //#72ca38 */
    background-color: #F2F3F5;
    box-shadow: 
12px 12px 16px 0 rgba(0, 0, 0, 0.25),
-8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    transition: .45s;
}
.AuthBtn{
    text-decoration: none!important;

}
.AuthBtn>button{
    position: relative;
    justify-content: center;
}
/* .AuthBtn button{
    width: 100%;
} */
.Coments>button:hover{
    background-color: #F2F3F5;
    /* box-shadow:  5px 3px 5px #72ca38,inset 2px 2px 4px white;  */
    box-shadow: 
    8px 8px 12px 0 rgba(0, 0, 0, 0.25),
    -4px -4px 8px 0 rgba(255, 255, 255, 0.3);
}
.Coments>button:active{
    background-color: #F2F3F5;
    /* box-shadow:  5px 3px 5px #72ca38,inset 2px 2px 4px white;  */
    box-shadow: 
    4px 4px 8px 0 rgba(0, 0, 0, 0.25),
    -2px -2px 4px 0 rgba(255, 255, 255, 0.3);
}
/* .AuthBtn{
    text-align: center;
    align-content: center;
} */
.SendMessageBtn{
   justify-content: center; 

}
.SendArrow{
    width: 40px!important;
    height: 40px!important;
    background: black!important;
    clip-path: polygon(9% 46%, 0 0, 100% 57%, 0 100%, 9% 55%, 52% 54%, 52% 54%);
}
.LogoutBtn{
    width: 40px!important;
    /* height: 40px!important; */
    /* background: black!important;
    clip-path: polygon(9% 46%, 0 0, 100% 57%, 0 100%, 9% 55%, 52% 54%, 52% 54%); */
}
.CancleMessageBtn{
    width: auto!important;
    background: black!important;
}
.SendMessageBtnUn{
    justify-content: center; 
    background: rgb(121, 121, 121)!important;
    border: none;
    /* background: linear-gradient(158deg, rgba(218,80,80,1) 0%, rgba(255,44,3,1) 100%);
    box-shadow:  8px 5px 8px red, inset 2px 2px 4px white!important;  */
    box-shadow: 
    4px 4px 8px 0 rgba(0, 0, 0, 0.5),
    -2px -2px 4px 0 rgba(255, 255, 255, 0.4)!important;
    transition: .45s;
}
.SendMessageBtnUn:hover{
    /* box-shadow:  5px 3px 5px red, -5px -5px 7px white!important;   */
    box-shadow: 
    8px 8px 12px 0 rgba(0, 0, 0, 0.25),
    -4px -4px 8px 0 rgba(255, 255, 255, 0.3)!important;
}
.Comentst .GoogleBtn{
    display: flex;
    flex-flow: row;
    align-content: center;
    border-radius: 10px!important;
    height: 50px;
    width: 300px;
}
.Coments .GoogleIcon {
    position: absolute;
    /* margin-top: 11px;
    margin-left: 11px; */
    margin: auto 12px;
    width: 18px;
    height: 18px;
    /* background: rgb(255,255,255)!important;
    background: linear-gradient(158deg, rgba(255,255,255,1) 57%, rgba(157,236,34,1) 100%)!important; */
    
  }
.Column::-webkit-scrollbar {
    display: none;
  }
  .Auth{
      /* width: 100vw;
      height: 100vh; */
      position: absolute;
      top:0;
      /* align-content: center;
      justify-content: center; */
      z-index: 103;
      transform: translateY(-120vh);

      transition:1s;
  }
  .AuthBackDrop{
    position: absolute;
    z-index: 98;
    width: 100vw;
    height: 100vh;
    top:0;
    background-color: rgb(216, 212, 212,.2);
    backdrop-filter: blur(10px);
    transition: 1s;
  }
  .AuthActive{
    transform: translateY(10vh);
  }
  @media(max-width:1600px){
    .Logo{
        width: 150px;
        height: 100px;
    }
    .BackBtnBlock{
        position: absolute;
        left: 90%;
        top:0;
    }
  }
  @media(max-width:768px){
    .ContentEditWraper>div{
        display: flex;
        flex-flow: column;
    }
    .Coments textarea{
width: 90vw;
  }

}