.Coments{
    position: fixed;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0;
    /* padding-top: 5em; */
    /* padding: 5em 0 0 0; */
    width: 100vw;
    height: 100vh;
    text-align: center;
    /* background: lightblue url("../../assets//images///elephant-monochrome-black-background-closeup-3504x2336-2957.jpg") no-repeat fixed center; */
    background-size: 100% 100%;
    background-color: #F2F3F5;
}
.ContentEditWraper{
    position: absolute;
    display: flex;
    /* top: 80%; */
    bottom: 0;
    flex-flow: column;
    align-items: center;
    backdrop-filter: blur(10px);
    /* background-color: #F2F3F5; */
    /* -webkit-box-shadow: inset 0px 11px 20px 0px rgba(0,0,0,0.42); 
    box-shadow: inset 0px 11px 20px 0px rgba(0,0,0,0.42); */
    border-radius: 10px!important;  
    transition:1s;
}
.ContentEditWraper>div{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
}

.Logo{
    width: 300px;
    height: 200px;
    position: absolute;
    left: 6%;
    top:1%;
    background:  url("../../assets//images/logo.png")no-repeat  center;
    background-size: 100% ;
}

.Coments p{
    margin: auto;

}
.Column{
    display: flex;
    flex-flow: column-reverse;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    -webkit-box-shadow: inset 0px 11px 20px 0px rgba(0,0,0,0.42); 
    box-shadow: inset 0px 11px 20px 0px rgba(0,0,0,0.42);
    background-color: #F2F3F5;
}
.Coments .ContentEditWraper>div>button,
.AuthBtn>button{
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px; */
    display: flex;
    flex-flow: row;
    text-align: center;
    align-content: center;
    border-radius: 10px!important;
    margin: 15px;
    /* height: 50px; */
    width: 300px;
    /* background-color: #F2F3F5; */
    /* box-shadow:  4px 4px 8px #646662,inset 2px 2px 4px white;  //#72ca38 */
    background-color: #F2F3F5;
    box-shadow: 
12px 12px 16px 0 rgba(0, 0, 0, 0.25),
-8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    transition: .45s;
}
.AuthBtn{
    text-decoration: none!important;

}
.AuthBtn>button{
    position: relative;
    justify-content: center;
}
/* .AuthBtn button{
    width: 100%;
} */
.Coments>button:hover{
    background-color: #F2F3F5;
    /* box-shadow:  5px 3px 5px #72ca38,inset 2px 2px 4px white;  */
    box-shadow: 
    8px 8px 12px 0 rgba(0, 0, 0, 0.25),
    -4px -4px 8px 0 rgba(255, 255, 255, 0.3);
}
.Coments>button:active{
    background-color: #F2F3F5;
    /* box-shadow:  5px 3px 5px #72ca38,inset 2px 2px 4px white;  */
    box-shadow: 
    4px 4px 8px 0 rgba(0, 0, 0, 0.25),
    -2px -2px 4px 0 rgba(255, 255, 255, 0.3);
}
/* .AuthBtn{
    text-align: center;
    align-content: center;
} */
.SendMessageBtn{
   justify-content: center; 

}
.SendArrow{
    width: 40px!important;
    height: 40px!important;
    background: black!important;
    clip-path: polygon(9% 46%, 0 0, 100% 57%, 0 100%, 9% 55%, 52% 54%, 52% 54%);
}
.LogoutBtn{
    width: 40px!important;
}
.CancleMessageBtn{
    width: auto!important;
    background: black!important;
}
.SendMessageBtnUn{
    justify-content: center; 
    background: rgb(121, 121, 121)!important;
    border: none;
    box-shadow: 
    4px 4px 8px 0 rgba(0, 0, 0, 0.5),
    -2px -2px 4px 0 rgba(255, 255, 255, 0.4)!important;
    transition: .45s;
}
.SendMessageBtnUn:hover{
    box-shadow: 
    8px 8px 12px 0 rgba(0, 0, 0, 0.25),
    -4px -4px 8px 0 rgba(255, 255, 255, 0.3)!important;
}
.Comentst .GoogleBtn{
    display: flex;
    flex-flow: row;
    align-content: center;
    border-radius: 10px!important;
    height: 50px;
    width: 300px;
}
.Coments .GoogleIcon {
    position: absolute;
    margin: auto 12px;
    width: 18px;
    height: 18px;    
  }
.Column::-webkit-scrollbar {
    display: none;
  }
  .Auth{
      position: absolute;
      top:0;
      z-index: 103;
      transform: translateY(-120vh);
      transition:1s;
  }
  .AuthBackDrop{
    position: absolute;
    z-index: 98;
    width: 100vw;
    height: 100vh;
    top:0;
    background-color: rgb(216, 212, 212,.2);
    backdrop-filter: blur(10px);
    transition: 1s;
  }
  .AuthActive{
    transform: translateY(10vh);
  }
  .ContentEditWraperShow{
opacity: 0;
}

.Draggable{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 2%;
    bottom: 0;
    transition:1s;
}
.DraggableActive{
    position: absolute;
    bottom: 80%;
    right: 40%;
    transition:1s;
}
  @media(max-width:1600px){
    .Logo{
        width: 150px;
        height: 100px;
    }
    .BackBtnBlock{
        position: absolute;
        left: 90%;
        top:0;
    }
  }
  @media(max-width:1024px){
    .ContentEditWraperShow{
        width: 50px;
        height: 50px;
        /* background: #F2F3F5; */
        backdrop-filter: blur(2px);
        border-radius: 25px;
        align-items: center;
        box-shadow: 
        8px 8px 12px 0 rgba(0, 0, 0, 0.25),
        -4px -4px 8px 0 rgba(255, 255, 255, 0.3)!important;
        opacity: 1;
        cursor:pointer;
        transform: translateY(-60px);
    }
    .ContentEditWraperShow svg{
        width: 50%;
        transform: translateY(15px);
        height: auto;
        transition:1s;

    }
    .ContentEditWraper{
        transform: translateY(100%);
    }
    .ContentEditWraperActive{
        transform: translateY(0);

    }

 .ContentEditWraperShowRotate svg{
transform: rotate(180deg) translateY(-15px);
transition:1s;
    }
  }
  @media(max-width:768px){
    .ContentEditWraper>div{
        display: flex;
        flex-flow: column;
    }
    .ContentEditInputLine{
        width: 100%;
        display: flex;
        flex-flow: row!important;
        align-content: space-between;
    }

    .Coments textarea{
width: 60vw;
  }
  .BackBtnBlock{
    left: 80%;
}

}