body{
    background-color: #F2F3F5; 
}
.Przepisy{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0;
    padding-top: 10em;
    width: 100vw;
    text-align: center;
    
    /* border: 1px solid black; */
    /* background: lightblue url("../../assets//images/modern-przygotowanie-contemporary-purple-building-clear-sky-3872x2592-2531.jpg") no-repeat fixed center; */
    background-size: 100% 100%;
}
.Logo{
    width: 300px;
    height: 200px;
    position: absolute;
    left: 6%;
    top:1%;
    background:  url("../../assets//images/logo.png")no-repeat  center;
    background-size: 100% ;
}
.BackBtnBlock{
    position: absolute;
    left: 90%;
    top:0;
}
.Przepisy>div>div>div>div{
    display: flex;
    flex-direction: row-reverse;
    /* align-items: stretch; */
    }
    .Przepisy>div>div:nth-child(2n+1) div>div{
        flex-direction: row;
         /* border: 1px solid black; */
          /* align-items: stretch; */
        }
        .Przepisy>div>div:nth-child(2n+1) div>div>div{
            flex-direction: column;
            /* border: 1px solid black; */
        }
.Przepisy::-webkit-scrollbar-button {
    display: none;
    height: 0;
  }
.Column{
    display: flex;
    flex-flow: column-reverse;
    /* border: 1px solid black; */
}
.Column::-webkit-scrollbar {
    display: none;
  }
.Przepisy p{
    margin: auto;
}
.ParalaxBlockPicture{
    position: absolute;
    top:0;
}

/* .SwitchWrapper {
    position: relative;
  }
   
  .SwitchWrapper > div {
    position: absolute;
  } */

  @media(max-width:700px){
    .Przepisy{
        display: flex;
        flex-flow: column;
        /* align-items: center; */
        margin: auto;
        /* margin-top: 5em; */
        width: 100%;
        /* text-align: center; */
        /* background: lightblue url("../../assets//images/modern-przygotowanie-contemporary-purple-building-clear-sky-3872x2592-2531.jpg") no-repeat fixed center; */
        background-size: 100% 100%;
    }
    .Przepisy>div>div>div>div{
        display: flex;
        flex-direction: column;
        }
        .Przepisy>div>div:nth-child(2n+1) div>div{
            flex-direction: column;
            }
            .Logo{
                width: 150px;
                height: 100px;
                position: fixed;
                left: 6%;
                top:0; 
                z-index: 103;
            }
            .BackBtnBlock{
                position: fixed;
                left: 80%;
                top:0;
                z-index: 103;
            }
  }